/* Estilos para la verificación de documento */
.document-check {
  background-color: #f7f9fc;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.document-check-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-link {
  color: red;
  text-align: center;
  font-size: 12px;
}

/* Estilos para el mensaje de agradecimiento */
.thank_you {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 70vh;
  display: block;
  background-color: #f9fafa;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .thank_you {
    display: flex;
  }
}

@media (max-width: 768px) {
  .thank_you__image {
    display: flex;
    justify-content: center;
  }
}

.thank_you__link {
  flex: auto;
  appearance: none;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  box-sizing: border-box;
  background: #253D90;
  display: inline-block;
  font-size: 12.5px;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
  min-height: 2.75em;
  outline: none;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  color: #FAFAFA;
}

.thank_you__link:hover {
  color: #FAFAFA;
  background: #12186B;
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .button__container {
    display: block;
  }
}

.form-submit-button {
  background-color: #253D90;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .form-submit-button {
    border-radius: 4px;
  }
}

.form-submit-button:hover {
  background-color: #12186B;
}

.error-message {
  color: red;
}